@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://coffeeshop-f9brfgcpbghsayew.centralus-01.azurewebsites.net/" target="_blank">Home</a>
            <a href="https://coffeeshop-f9brfgcpbghsayew.centralus-01.azurewebsites.net/AboutUs" target="_blank">About</a>
            <a href="https://coffeeshop-f9brfgcpbghsayew.centralus-01.azurewebsites.net/Product" target="_blank">Product</a>
            <a href="https://coffeeshop-f9brfgcpbghsayew.centralus-01.azurewebsites.net/Contacts" target="_blank">Contact</a>
        </div>

        <article class="contents">
            @Body
        </article>
    </main>
</div>

